
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<style>
body {font-family: Arial; background:#0b0f14; color:white; max-width:800px; margin:auto;}
a {color:#7ee787;}
</style>
</head>
<body>
<h1><a href="/">{{ site.name }}</a></h1>
<p>{{ site.tagline }}</p>
<hr>
{{ content | safe }}
</body>
</html>
